<header>
    <a href="#"><img src="../assets/images/cooltext224567854675404.png" title="Jot Bots!" /></a>
    <div class="nav">
        <ul>
            <li>
                <a routerLink="/tasks"><img src="../assets/images/cooltext224568088243734.png" title="Tasks" /></a>
            </li>
            <li>
                <a routerLink="/quicknotes"><img src="../assets/images/cooltext224567936876805.png" title="Quick Notes" /></a>
            </li>
            <li>
                <a routerLink="/directory"><img src="../assets/images/cooltext224568054241208.png" title="Directory" /></a>
            </li>
            <li>
                <a routerLink="/notepad"><img src="../assets/images/cooltext224568134220846.png" title="Notepad" /></a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</header>