/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font: normal 14px/18px Candara, Tahoma, Century Gothic;
}
.container h2{
    margin-bottom: 20px;
}